[Desktop Entry]
Name=User Manager
Name[bg]=Ïîòðåáèòåëñêè Ìåíàæåð
Name[ca]=Gestor d'usuaris
Name[cs]=Správce uživatelů
Name[da]=Brugerhåndtering
Name[de]=Benutzermanager
Name[el]=Διαχειριστής Χρηστών
Name[eo]=Uzantoadministrilo
Name[es]=Administrador de Usuarios
Name[et]=Kasutajate haldamine
Name[fi]=Käyttäjähallinta
Name[fr]=Gestionnaire d'utilisateurs
Name[gl]=Xestor de Usuarios
Name[he]=םישמתשמה להנמ
Name[hr]=Upravitelj korisnika
Name[hu]=Felhasználókezelő
Name[is]=Notendastjóri
Name[it]=Gestione utenti
Name[ja]=ユーザ管理
Name[ko]=사용자 관리자
Name[lt]=Vartotojo Vadovas
Name[lv]=Lietotāju Menedžers
Name[mi]=Kaiwhakahaere Kaiwhakamahi
Name[mk]=Менаџер на корисници
Name[nl]=Gebruikersbeheerder
Name[no]=Brukerbehandler
Name[no_NY]=Brukarbehandlar
Name[oc]=Gestionari d'utilisators
Name[pl]=Menedżer użytkowników
Name[pt]=Gestor de Utilizadores
Name[pt_BR]=Gerente de Usuários
Name[ro]=Manager de utilizatori
Name[ru]=Управление пользователями
Name[sk]=Nastavenie užívateľov
Name[sl]=Upravljalnik uporabnikov
Name[sv]=Användarhanterare
Name[ta]=ÀÂÉ÷ §ÁÄ¡Ç÷
Name[tr]=Kullanıcı Yöneticisi
Name[uk]=Менеджер користувачів
Name[zh_CN.GB2312]=帐号管理器
Name[zh_TW.Big5]=使用者管理員
Exec=kdesu kuser %i %m -caption "%c"
Icon=kuser
Type=Application
MapNotify=true
DocPath=kuser/index.html
Comment=Full Featured User Manager
Comment[bg]=Ïîäðåáèòåëñêè Ìåíàæåð ñ ïúëíà ïîäðúæêà
Comment[ca]=Gestor d'usuaris amb tots els ets i uts
Comment[cs]=Správce uživatelů a skupin
Comment[da]= En fuldt udstyret brugerhåndtering
Comment[de]=Eine vollständige Benutzerverwaltung
Comment[el]=Πλήρως Λειτουργικός Διαχειριστής Χρηστών
Comment[eo]=Plenkapabla Uzantoadministrilo
Comment[es]=Completo Administrador de Usuarios
Comment[et]=Täisväärtuslik rakendus kasutajate haldamiseks
Comment[fi]=Kaikki ominaisuudet sisältävä käyttäjähallinta
Comment[fr]=Gestionnaire d'utilisateurs complet
Comment[gl]=Completo Xestor de Usuarios
Comment[he]=אלמ םישמתשמ להנמ
Comment[hr]=Upravitelj korisnika
Comment[hu]=Nagy tudású felhasználókarbantartó program
Comment[is]=Fullbúinn notendastjóri
Comment[it]=Tutti gli aspetti della gestione utenti
Comment[ja]=ユーザ管理が全てできます
Comment[ko]=사용자 관련 모든 설정을 관리해주는 도구
Comment[lt]=Išsamus Vartotojo Vadovas
Comment[lv]=Jaudīgs Lietotāju Menedžers
Comment[mk]=Менаџер на корисници со многу можности
Comment[nl]=volledig uitgeruste gebruikersbeheerder
Comment[no]=En fullstendig brukerbehandler
Comment[no_NY]=Brukarbehandlar med alle funksjonar
Comment[oc]=Gestionari d'utilisators dab tots los otilhs e utilitaris
Comment[pl]=Menedżer użytkowników oraz grup
Comment[pt]=Gestor de Utilizadores com Muitas Opções
Comment[pt_BR]=Gerente de Usuários com Muitas Opções
Comment[ro]=Administrează grupurile şi conturile de utilizatori
Comment[ru]=Полнофункциональный менеджер пользователей
Comment[sk]=Plne funkčný manažér Užívateľov
Comment[sl]=Upravljalnik uporabnikov in skupin
Comment[sr]=Kopletna administracija korisnika
Comment[sv]=Program för att administrera användarkonton
Comment[ta]=ÓØ¨ÁÂ¡É ÀÂÉ÷ §ÁÄ¡Ç÷
Comment[tr]=Tam Teşekküllü Kullanıcı Yöneticisi
Comment[uk]=Повнофункціональний менеджер користувачів
Comment[zh_CN.GB2312]=多功能帐号管理器
Comment[zh_TW.Big5]=全功能的使用者管理員
Terminal=0
