[Desktop Entry]
Encoding=UTF-8
Name=KUser
Name[hu]=KUser felhasználókezelő
Name[lv]=KLietotājs
Name[sv]=Kuser
Name[xx]=xx
Comment=User Manager
Comment[ar]=مدير المستخدم
Comment[bg]=Управление на потребителите
Comment[cs]=Správce uživatelů
Comment[da]=Brugerhåndtering
Comment[de]=Benutzerverwaltung
Comment[es]=Administrador de usuarios
Comment[fi]=Käyttäjienhallinta
Comment[fr]=Gestionnaire d'utilisateurs
Comment[he]=מנהל משתמשים
Comment[hu]=Felhasználókezelő
Comment[it]=Gestione utenti
Comment[lt]=Vartotojų tvarkyklė
Comment[lv]=Lietotāju Menedžeris
Comment[nl]=gebruikersbeheerder
Comment[pt]=Gestor de Utilizadores
Comment[pt_BR]=Gestor de Utilizadores
Comment[ro]=Manager de utilizatori
Comment[sk]=Správca používateľov
Comment[sv]=Användarhanterare
Comment[ta]=ÀÂÉ÷ §ÁÄ¡Ç÷
Comment[xh]=Umphathi We Calendar
Comment[xx]=xx
Comment[zu]=Umphathi we Calendar
Exec=kdesu kuser %i %m -caption "%c"
Icon=kuser
Type=Application
DocPath=kuser/index.html
Terminal=0
X-KDE-StartupNotify=true
